{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}

    <h1>Home</h1>
    <br>
    <h2>Add a user</h2>

    <form method="POST" action="/api/users" class="form-group w-50">
        <input type="text" name="username" placeholder="name" class="form-control">
        <textarea name="message" id="message" cols="30" rows="10" placeholder="Your message" class="form-control mt-2"></textarea>
        <input type="submit" class="btn btn-outline-primary mt-2 w-50 pt-2 pb-2">
    </form>
    <a href="{{ url_for('page.vuln_endopoint') }}"> Vulnerable endpoint </a>

{% endblock content %}