{% extends "base.html" %}

{% block title %} Vulnerable endpoint {% endblock title %}

{% block content %}
    {% include 'includes/nav.html' %}
    <header class="container">
        <h1 class="animated fadeInDown white-text">Vulnerable endpoint</h1>
    </header>
    <main>
        <div class="container">
            <ul class="collection animated fadeInLeft z-depth-4">
                {% for d in data.users %}
                    <li class="collection-item avatar">
                        <i class="circle material-icons">account_circle</i>
                        <span class="title"><a href="/api/users/{{ d['username'] }}">{{ d["username"] }}</a></span>
                        <br>
                        <p><b>Comment:</b></p>
                        <p>{{ d["message"] | safe }} </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
    {% include 'includes/footer.html' %}
{% endblock content %}