{% extends "base.html" %}

{% block title %} Vulnerable endpoint {% endblock title %}

{% block content %}
    <style>
        body {
            align-items: unset
        }
    </style>
    <div class="container">
        <h1>Vulnerable endpoint</h1>
        <ul>
            {% for d in data.users %}
            <li><b>Username:</b> <a href="/api/users/{{ d['username'] }}">{{ d["username"] }}</a></li>
            <li><b>Comment:</b> {{ d["message"] | safe }}</li>
            <br>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}